@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  line-heigth: 30px;
  letter-spacing: 0.01em;
  color: #000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
    width: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1160px;
    padding: 0;
}

.main-navigation {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 57px;
    padding-right: 57px;

    background-image: linear-gradient(180deg, transparent, transparent 40px, #f7e296 40px);
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.logo-device {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

/* .search-form {
    display: flex;
} */

.search-field::placeholder {
  font: inherit;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.search-field {
    margin: 0;
    padding: 10px;
}

.search-submit {
    width: 86px;
    padding: 10px;
    margin: 0;

    font-style: inherit;
    font-family: "Open Sans", Arial, sans-serif;

    background-color: transparent;
    box-shadow: none;
    border: 2px solid #000;
}

.search-form span {
    margin:0;
    padding:0;
    width: 22px;
    height: 22px;
    display: block; /*delete when flex-element */

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;

}
