@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 1200px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000;

    background-color:   #ffffff;
}

.index-main {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

img {
    width: auto;
}

:focus {
    outline: 3px solid rgba(240,197,46, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden, 
.search-field label:focus {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1160px;
    padding: 0;
}

.button {
    margin: 0;
    padding: 8px 0;

    min-height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;


    font: inherit;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: #000;

    -webkit-box-shadow: none;

            box-shadow: none;
    border: none;
    background-color: transparent;
    background-image:
        -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(41%, #f0c52e), color-stop(56%, #f0c52e), color-stop(56%, transparent)),
        -webkit-gradient(linear, left top, left bottom, color-stop(38.5%, transparent), color-stop(38.5%, #f0cf5d), color-stop(58.5%, #f0cf5d), color-stop(58.5%, transparent));
    background-image:
        -webkit-linear-gradient(top, transparent 41%, #f0c52e 41%, #f0c52e 56%, transparent 56%),
        -webkit-linear-gradient(top, transparent 38.5%, #f0cf5d 38.5%, #f0cf5d 58.5%, transparent 58.5%);
    background-image:
        -o-linear-gradient(top, transparent 41%, #f0c52e 41%, #f0c52e 56%, transparent 56%),
        -o-linear-gradient(top, transparent 38.5%, #f0cf5d 38.5%, #f0cf5d 58.5%, transparent 58.5%);
    background-image:
        linear-gradient(180deg, transparent 41%, #f0c52e 41%, #f0c52e 56%, transparent 56%),
        linear-gradient(180deg, transparent 38.5%, #f0cf5d 38.5%, #f0cf5d 58.5%, transparent 58.5%);

    -webkit-transition-duration: 0.25s;

         -o-transition-duration: 0.25s;

            transition-duration: 0.25s;
}

.button:active,
.button:focus {
    outline: none;
}

.button:hover {
    background-image: none;
    background-color: #f0c52e;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

.button:focus {
    background-image: none;
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    margin-top: 2px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;

    background-image: -webkit-linear-gradient(top, transparent, transparent 40px, #f7e296 40px);

    background-image: -o-linear-gradient(top, transparent, transparent 40px, #f7e296 40px);

    background-image: linear-gradient(180deg, transparent, transparent 40px, #f7e296 40px);
}

.header-user-navigation,
.site-navigation,
.site-navigation-catalog {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation a {
    color: inherit;
}

.main-navigation > p:first-of-type {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 100%
}

.logo-device {
    font: inherit;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.main-header .logo-device:hover:not(.index-logo-device) {
    color: rgba(0,0,0,0.6);
}

.main-header .logo-device:active:not(.index-logo-device) {
    color: rgba(0,0,0,0.3);
}

.index-logo-device {
    cursor: default;
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    min-height: 49px;
}

.search-field {
    width: 330px;
    margin: 2px 0;
    padding: 0 10px 15px 15px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
}

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-submit {
    margin-top: 0;
    padding: 0;
    width: 85px;
    height: 49px;

    font:inherit;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;

    -webkit-box-shadow: none;

            box-shadow: none;
    background-color: transparent;
    border: 2px solid #000;
}

.search-icon {
    width: 16px;

    margin:0;
    margin-top: 8px;
    padding: 0 5px;

    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position-x: center;
}

.search-field:focus ~ .search-icon {
    background-position: bottom 15px center;
}

.search-field:focus,
.search-submit:focus {
    outline: none;
}

.search-field:focus {
    padding-bottom: 0;
}

.search-field:focus::-webkit-input-placeholder {
    color: rgba(0,0,0,1);
}

.search-field:focus:-ms-input-placeholder {
    color: rgba(0,0,0,1);
}

.search-field:focus::-ms-input-placeholder {
    color: rgba(0,0,0,1);
}

.search-field:focus::placeholder {
    color: rgba(0,0,0,1);
}

.search-field:hover::-webkit-input-placeholder {
    color: rgba(0,0,0,0.6);
}

.search-field:hover:-ms-input-placeholder {
    color: rgba(0,0,0,0.6);
}

.search-field:hover::-ms-input-placeholder {
    color: rgba(0,0,0,0.6);
}

.search-field:hover::placeholder {
    color: rgba(0,0,0,0.6);
}

.search-submit:focus,
.search-submit:hover {
    color: rgba(255,255,255,1);
    background-color: #000;
}

.search-submit:active {
    color: rgba(255,255,255,0.3);
    background-color: #000;
}

.search-form :last-child::after {
    content: "";

    display: none;

    position: absolute;

    width: 100%;
    height: 2px;

    left: 0;
    bottom: 0;

    background-color: #000;
}

.search-field:focus ~ :last-child::after,
.search-submit:focus ~ :last-child::after {
    display: block;
}

.search-field:not(:focus)~.search-submit:not(:focus) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.header-user-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 510px;
}

.header-user-navigation,
.main-navigation-cart,
.main-navigation-compare,
.search-field::-webkit-input-placeholder  {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.header-user-navigation,
.main-navigation-cart,
.main-navigation-compare,
.search-field:-ms-input-placeholder  {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.header-user-navigation,
.main-navigation-cart,
.main-navigation-compare,
.search-field::-ms-input-placeholder  {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.header-user-navigation,
.main-navigation-cart,
.main-navigation-compare,
.search-field::placeholder  {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.header-user-navigation {
    font-size: 0;
}

.main-navigation-cart,
.main-navigation-compare {
    position: relative;
    padding-left: 35px;
}

.header-user-navigation li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.login-link a,
.user-logged a {
    position: relative;
    padding-left: 37px;
}

.unlogin {
    padding: 0 20px;
    color: rgba(0,0,0,0.3);
}

.login-link a::before,
.user-logged a::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 12px;

    top: 6px;
    left: 10px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-navigation-cart {
    margin-left: 28px;
}

.main-navigation-compare {
    margin-left: auto;
}

.main-navigation-cart::before {
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    top: 9px;
    left: 13px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-navigation-compare::before {
    content: "";

    position: absolute;

    width: 10px;
    height: 10px;

    top: 11px;
    left: 16px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
}



.main-navigation-cart:hover,
.main-navigation-compare:hover,
.login-link a:hover,
.user-logged a:hover {
    color: rgba(0,0,0,0.6);
}

.main-navigation-cart:hover::before,
.main-navigation-compare:hover::before {
    opacity: 0.8;
}

.login-link a:hover::before,
.user-logged a:hover::before {
    opacity: 0.6;
}

.main-navigation-cart:active,
.main-navigation-compare:active,
.login-link a:active,
.user-logged a:active {
    color: rgba(0,0,0,0.3);
}

.main-navigation-cart:active::before,
.main-navigation-compare:active::before,
.login-link a:active::before,
.user-logged a:active::before {
    opacity: 0.3;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    position: relative;

    width: 100%;
    margin-top: 20px;

    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-navigation > li:first-of-type {
    position: relative;
    margin-right: 320px;
}

.site-navigation > li:nth-child(2) {
    margin-right: 35px;
}

.site-navigation > li:last-child {
    margin: auto;
    margin-right: -3px;
}

.site-navigation-item:first-of-type > a::after {
    content: "";

    position: absolute;

    width: 16px;
    height: 16px;

    top: 3px;
    right: -27px;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.6;
}

.site-navigation-item a:hover {
    color: rgba(0,0,0,0.6);
}

.site-navigation-item a:active {
    color: rgba(0,0,0,0.3);
}

.site-navigation-popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;

    margin: 0;
    padding: 23px 60px 32px 60px;

    width: 1040px;

    left: -60px;
    top: 24px;

    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: none;
    background-color: #f7e296;

    z-index: 1;
}

.site-navigation-catalog {
    margin-right: 60px;
}

.site-navigation-catalog:last-child {
    margin-right: 0;
}

.popup-catalog-link:not(:hover) .site-navigation-popup:not(:hover) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* Block <main> */

.popular {
    position: relative;
}

.popular-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding-top: 2px;

    background-image: -webkit-linear-gradient(top, #f7e296 113px, transparent 113px, transparent);

    background-image: -o-linear-gradient(top, #f7e296 113px, transparent 113px, transparent);

    background-image: linear-gradient(to bottom, #f7e296 113px, transparent 113px, transparent);
}

.popular-item p {
    margin: 0;
    padding: 0;
}

.popular-item-image+div::before {
    position: absolute;
    width: auto;
    height: auto;

    right: 50px;
    top: -20px;

    font: inherit;
    font-weight: 800;
    font-size: 179.2px;
    line-height: 200px;
    color: #fff;
}

.popular-item:nth-child(1) .popular-item-image+div::before {
    content: "01";
}

.popular-item:nth-child(2) .popular-item-image+div::before {
    content: "02";
}

.popular-item:nth-child(3) .popular-item-image+div::before {
    content: "03";
}

.popular-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;

    width: 50%;
    padding-left: 20px;
    padding-right: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.popular-item p:first-of-type {
    width: auto;
    margin-top: 80px;
    z-index: 0;

    font: inherit;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;
}

.popular-item p:first-of-type::before {
    content: "";
    position: absolute;

    width: 100px;
    height: 7px;

    left: 20px;
    top: 40px;

    background-color: #fff;
}

.popular-item p:nth-of-type(2) {
    width: auto;
    margin-top: 20px;
    padding-right: 15px;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.popular-item-image {
    width:auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
    margin-left: 30px;
}

.popular-item table {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    border-collapse: collapse;

    -webkit-box-ordinal-group: 3;

        -ms-flex-order: 2;

            order: 2;
}

.popular-item tr {
    font: inherit;
    font-size: 36px;
    line-height: 48px;
}

.popular-item th {
    padding-top: 5px;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #464646;

    text-align: left;
}

.popular-item th {
    max-width: 160px;
    padding-right: 25px;
}

.popular-item .button-link-about {
    width: 220px;
    margin-top: 43px;

    -webkit-box-ordinal-group: 2;

        -ms-flex-order: 1;

            order: 1;
}

.popular-slider-button {
    margin: 0;
    padding: 0;

    list-style: none;
}

.popular-slider-controls {
    position: absolute;
    right: 75px;
    bottom: 158px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.popular-slider-controls li {
    display: inline-block;
    vertical-align: middle;
}

.popular-slider-controls label {
  display: block;
  position: relative;

  padding: 5px;
  margin: 0 8px;

  background-color: transparent;
  border: 1px solid #464646;
  border-radius: 50%;
  cursor: pointer;
}

.popular-slider-button:checked:focus+label {

  outline: 3px solid rgba(240,197,46,0.5);

}

.popular-slider-button:checked+label::before {
    content: "";
    display: block;

    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);

    width: 3px;
    height: 3px;

    border: 1px solid #000;
    border-radius: 50%;
}

.catalog-reference-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    margin-top: 85px;
    padding: 0;

    list-style: none;
}

.catalog-reference-item a {
    display: block;
    width: 160px;

    font: inherit;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: #000;
}

.catalog-reference-item {
    background-image: -webkit-linear-gradient(top, rgba(240, 196, 47, 0.5) 160px, transparent 60px);
    background-image: -o-linear-gradient(top, rgba(240, 196, 47, 0.5) 160px, transparent 60px);
    background-image: linear-gradient(to bottom, rgba(240, 196, 47, 0.5) 160px, transparent 60px);
    background-position: center;
}

.catalog-reference-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom: 35px;
    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
    background-position: center;
}

.catalog-reference-item span {
    display: block;

    margin: 0;
    padding: 0;
    padding-right: 40px;
}

.catalog-reference-item:nth-child(1) .catalog-reference-icon {
    background-image: url("../img/popular-1.svg");
  }

.catalog-reference-item:nth-child(2) .catalog-reference-icon {
    background-image: url("../img/popular-2.svg");
    background-position-y: bottom;
}

.catalog-reference-item:nth-child(3) .catalog-reference-icon {
    background-image: url("../img/popular-3.svg");
}

.catalog-reference-item:nth-child(4) .catalog-reference-icon {
    background-image: url("../img/popular-4.svg");
}

.catalog-reference-item:nth-child(5) .catalog-reference-icon {
    background-image: url("../img/popular-5.svg");
}

.catalog-reference-item:nth-child(6) .catalog-reference-icon {
    background-image: url("../img/popular-6.svg");
}

.catalog-reference-item:hover {
    background-image: -webkit-linear-gradient(top, rgba(240, 196, 47, 1) 160px, transparent 60px);
    background-image: -o-linear-gradient(top, rgba(240, 196, 47, 1) 160px, transparent 60px);
    background-image: linear-gradient(to bottom, rgba(240, 196, 47, 1) 160px, transparent 60px);
}

.catalog-reference-item a:focus div,
.catalog-reference-item a:focus {
    opacity: 0.3;
}

.container-wide-services {
    margin: 0 auto;
    width: 100%;
    background-image: -webkit-linear-gradient(top, #fff 100px, #e5e5e5 100px, #e5e5e5);
    background-image: -o-linear-gradient(top, #fff 100px, #e5e5e5 100px, #e5e5e5);
    background-image: linear-gradient(to bottom, #fff 100px, #e5e5e5 100px, #e5e5e5);
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    margin-top: 80px;
    padding-bottom: 68px;

    background-image: -webkit-linear-gradient(top, #fff 100px, #e5e5e5 100px);

    background-image: -o-linear-gradient(top, #fff 100px, #e5e5e5 100px);

    background-image: linear-gradient(to bottom, #fff 100px, #e5e5e5 100px);
    background-repeat: no-repeat;
}

.services-slider-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 285px;
            flex: 0 0 285px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;

    margin: 0;
    padding: 0;
    padding-top: 80px;

    min-height: 320px;

    border-right: 7px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    list-style: none;
}

.services-slider-control li {
    width: 100%;
    margin-bottom: 25px;
}

.services-slider-control li:last-child {
    margin-bottom: 0;
}

.services-slider-control label {
    display: block;
    margin-right: 115px;
    margin-left: auto;

    width: 160px;

    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000;

    cursor: pointer;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.services-slider-list {
    margin: 0;
    padding:0;
    padding-left: 115px;
    padding-top: 75px;

    list-style: none;
}

.services-item p {
    margin: 0;
    padding: 0;
}

.services-item p:first-of-type {
    font: inherit;
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
}

.services-item p:last-of-type {
    margin-top: 30px;
    padding-right: 323px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
}

.services-slider-button:checked+label {
    padding-right: 115px;
    margin-right: 0;

    width: auto;

    color: #f7e184;

    background-color: rgba(0,0,0,1);
    background-image: none;
}

.services-slider-button:checked:focus+label {
    outline: 3px solid rgba(240,197,46, 1);
}


.services-slider-list li::after {
    content: "";
    display: block;
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
}

.services-slider-list li:nth-child(1)::after {

    top: 85px;
    right: 67px;

    width: 136px;
    height: 164px;

    background-image: url("../img/delivery.svg");
}

.services-slider-list li:nth-child(2)::after {
    top: 60px;
    right: 45px;

    width: 171px;
    height: 195px;

    background-image: url("../img/warranty.svg");
}

.services-slider-list li:nth-child(3)::after {
    top: 60px;
    right: 72px;

    width: 156px;
    height: 188px;

    background-image: url("../img/credit.svg");
}

.our-brands {
    padding-top: 95px;
}

.brands-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands-item {
    position: relative;
}

.brands-item .pale {
    opacity: 0.2;
}

.pale:focus {
    opacity: 1;
    outline: 3px solid rgba(240,197,46, 1);
}

.brands-item::after {
    display: block;

    content: "";
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.brands-item:not(:hover)::after {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* .pale:hover:focus + ::after {
    display: block;
} */

.brands-item:nth-child(1)::after {
    background-image: url("../img/logodjicolor.png");
}

.brands-item:nth-child(2)::after {
    background-image: url("../img/spgadgetscolor.png");
}

.brands-item:nth-child(3)::after {
    background-image: url("../img/logogoprocolor.png");
}

.brands-item:nth-child(4)::after {
    background-image: url("../img/logovivecolor.png");
}

.index-aboutus-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-top: 85px;
}

.about-us {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

    padding: 50px 0;

    width: 485px;
}

.about-us h3,
.contacts h3 {
    margin: 0;

    font: inherit;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
}

.about-us p,
.contacts p {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: #464646;
}

.about-us p:first-of-type {
    margin: 0;
    margin-top: 45px;
}

.about-us p:last-of-type {
    margin: 0;
    margin-top: 30px;
}

.delivery-partners-list {
    margin: 0;
    margin-top: 70px;
    padding: 0;
    padding-left: 35px;

    font: inherit;
    font-weight: 800;
    color: #000;

    list-style: none;
}

.delivery-partners-list li:nth-child(-n+2) {
    margin-bottom: 10px;
}

.delivery-partners-list li {
  position: relative;
}

.delivery-partners-list li:before {
    content: "";
    display: block;

    position: absolute;

    width: 4px;
    height: 4px;

    top: 12px;
    left: -32px;

    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 2px #e5e5e5;
            box-shadow: 0 0 0 2px #e5e5e5;
}

.contacts {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

    padding: 50px 0;

    width: 560px;
}

.contacts p {
    margin: 0;
    margin-top: 45px;
}

.contacts-map {
  margin-top: 20px;
}

.button-link-about-us {
    -ms-flex-item-align: start;
        align-self: flex-start;

    min-width: 260px;
    margin-top: 60px;
}

.button-link-contacts {
    -ms-flex-item-align: start;
        align-self: flex-start;

    min-width: 260px;
    margin-top: 60px;

    -webkit-box-ordinal-group: 2;

        -ms-flex-order: 1;

            order: 1;
}

.contacts::before,
.about-us::before {
    content: "";
    position: absolute;

    width: 80px;
    height: 7px;

    left: 0;
    top: 0;

    background-color: #000;
}

/* Main Footer */

.main-footer {
    background-color: #464646;
}

.footer-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 65px;
}

.footer-wrap::after {
  content: "";
  position: absolute;

  width: 80px;
  height: 7px;

  left: 0;
  bottom: 75px;

  background-color: #ffc600;
}

.footer-wrap > p:first-of-type {
  margin: 0;
  padding: 0;
  width: 50%;

  -webkit-box-ordinal-group: 2;

      -ms-flex-order: 1;

          order: 1;
}

.footer-unlogin {
    color: rgba(255,255,255,0.3);
}

.footer-user-row a {
    color: rgba(255,255,255,0.7);
}

.footer-user-row a:hover {
    color: rgba(255,255,255,1);
}

.footer-user-row a:active {
    color: rgba(255,255,255,0.3);
}

.footer-user-row a:hover::before {
    opacity: 0.6;
}

.footer-user-row a:active::before {
    opacity: 0.3;
}


.main-footer .logo-device {
    color: #ffc600;
}

.main-footer .logo-device:hover:not(.index-logo-device) {
    color: rgba(255,198,0,0.6);
}

.main-footer .logo-device:active:not(.index-logo-device) {
    color: rgba(255,198,0,0.3);
}

.footer-user-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    width: 50%;

    font-size: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.footer-user-navigation,
.footer-navigation,
.footer-social-list {
    margin: 0;
    padding: 0;

    font-size:0;

    list-style: none;
    }

.footer-user-navigation {
    margin-right: 10px;
}

.footer-user-navigation li {
    margin-right: 20px;
}

.footer-navigation-compare {
    position: relative;
    padding-left: 35px;
}

.footer-navigation-cart {
    position: relative;
    padding-left: 35px;
    margin-left: 27px;
}

.footer-login-link,
.footer-user-logged {
    position: relative;

    padding-left: 35px;
}

.footer-login-link a::before,
.footer-user-logged a::before {
    content: "";
    display: block;
    position: absolute;

    width: 13px;
    height: 12px;

    top: 9px;
    left: 9px;

    background-image: url("../img/user-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-navigation-compare::before {
    content: "";
    display: block;
    position: absolute;

    width: 10px;
    height: 10px;

    top: 11px;
    left: 15px;

    background-image: url("../img/compare-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-navigation-cart::before {
    content: "";
    display: block;
    position: absolute;

    width: 12px;
    height: 12px;

    top: 9px;
    left: 14px;

    background-image: url("../img/cart-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-user-navigation li,
.footer-navigation-compare,
.footer-navigation-cart,
.footer-phone,
.footer-contacts {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.footer-user-navigation li,
.footer-navigation-compare,
.footer-navigation-cart {
    display: inline-block;
    vertical-align: middle;

    padding-bottom: 8px;
}

.footer-navigation {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

    margin-top: 20px;

    text-align: center;

    -webkit-box-ordinal-group: 5;

        -ms-flex-order: 4;

            order: 4;
}

.footer-navigation li {
    display: inline-block;
    vertical-align: middle;

    margin-right: 32px;

    font: inherit;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-navigation li:last-child {
    margin-right: 0;
}

.footer-navigation a {
    color: #fff;
}

.footer-navigation a:hover {
    color: rgba(255,255,255,0.6);
}

.footer-navigation a:active {
    color: rgba(255,255,255,0.3);
}

.footer-contacts,
.footer-phone {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    padding: 0;
    padding-top: 15px;

    width: 100px;

    color: #fff;
    letter-spacing: 0;

    -webkit-box-ordinal-group: 4;

        -ms-flex-order: 3;

            order: 3;
}

.footer-phone {
    text-align: right;

    -webkit-box-ordinal-group: 6;

        -ms-flex-order: 5;

            order: 5;
}

.footer-social-list {
    margin-top: 60px;

    width: 100%;

    text-align: center;

    -webkit-box-ordinal-group: 7;

        -ms-flex-order: 6;

            order: 6;
}

.footer-social-list li {
    display: inline-block;
    vertical-align: middle;
}

.footer-social-list li:nth-child(-n+2) {
    margin-right: 20px;
}

.footer-social {
    display: block;
    width: 32px;
    height: 32px;

    border-radius: 16px;
    background-repeat: no-repeat;

    opacity: 0.3;
}

.footer-social:hover {
    opacity: 1;
}

.footer-social:active {
    opacity: 0.1;
}

.footer-social:focus {
    outline: 3px solid rgba(240,197,46, 1);
}

.footer-social-list .social-fb {
    background-image: url("../img/fb.svg");
}

.footer-social-list .social-instagram {
    background-image: url("../img/instagram.svg");
}

.footer-social-list .social-twitter {
    background-image: url("../img/twitter.svg");
}

.footer-user-column > p {
    display: inline-block;
    vertical-align: middle;
}

.footer-copyrights {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
}

.footer-copyrights a {
    display: block;

    position: absolute;

    right: 0;
    bottom: 60px;

    width: 27px;
    height: 35px;

    background-image: url("../img/logo-html.svg");
    background-repeat: no-repeat;
}

.footer-copyrights a:hover {
    opacity: 0.6;
}

.footer-copyrights a:active {
    opacity: 0.3;
}

/* Catalog-page */

.catalog-page-title {
    display: block;

    margin: 0;
    margin-top:40px;
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 0;

    font: inherit;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.breadcrumbs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 47px;
    margin-left: 60px;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);

    list-style: none;
}

.breadcrumbs-list li {
    position: relative;

    margin-right: 37px;
}

.breadcrumbs-list li:last-child {
    margin-right: 0;
}

.breadcrumbs-list li::after {
    content: "";

    position: absolute;
    top: 10px;
    right: -20px;

    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs-list a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-list a:active {
    color: rgba(0, 0, 0, 0.1);
}

.container-wide-catalog {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 100%;

    background-color: #fff;
    background-image:
      -webkit-linear-gradient(top, rgba(0,0,0,0.08) 70px, transparent 70px),
      -webkit-linear-gradient(left, rgba(0,0,0,0.08) 50%, #fff 50%, #fff);
    background-image:
      -o-linear-gradient(top, rgba(0,0,0,0.08) 70px, transparent 70px),
      -o-linear-gradient(left, rgba(0,0,0,0.08) 50%, #fff 50%, #fff);
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0.08) 70px, transparent 70px),
      linear-gradient(to right, rgba(0,0,0,0.08) 50%, #fff 50%, #fff);
    background-repeat: no-repeat;
}

.catalog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #fff;

}

.filter {
background-color: rgba(0,0,0,0.08);
}

.catalog-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    background-color: #fff;
}

.filter-title,
.sorter-title {
    font: inherit;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-title {
    display: block;
    width: 210px;

    margin: 0;
    padding: 23px 60px;

    background-color: rgba(0,0,0,0.08);
}

.filter-form {
    margin: 0;
    padding: 70px;
    padding-left: 60px;
    padding-bottom: 0;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;

    border: none;
}

.filter legend {
    display: block;

    width: 100%;

    padding-top: 10px;

    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;

    border-top: 2px solid #000;
}

.filter-cost legend {
  margin-bottom: 35px;
}

.color-checkbox legend {
  margin-bottom: 18px;
}

.filter-bluetooth legend {
  margin-bottom: 15px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;

    color: #000;
}

.display-none {
    display:none;
}

.range-controls {
    position: relative;
    width: 100%;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.range-controls .bar {
    width: 55%;
    height: 2px;

    background: #00b000;
}

.range-toggle {
    position: absolute;
    top: -10px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:active {
    border: 9px solid #ffffff;
    margin-left: -1px;
    margin-top: -1px;
}

.range-toggle-min {
    left: -5px;
}

.range-toggle-max {
    left: 53%;
}

.range-toggle::after {
    content: "";

    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 51px;
    margin: auto;
    margin-top: 13px;

    font: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.2);

    white-space: nowrap;
    text-align: right;
    -webkit-transform: translate(-51%,0);
        -ms-transform: translate(-51%,0);
            transform: translate(-51%,0);
}

.range-toggle-min::after {
    content: "от 0";
}

.range-toggle-max::after {
    content: "до 5000";
    text-align: right;
}

.filter-option {
  padding-left: 38px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.color-checkbox-option + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.color-checkbox-option:checked + label::before {
    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-bluetooth-option + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-bluetooth-option:checked + label::before {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-bluetooth-option:checked:not(:disabled) + label:hover::before,
.filter-bluetooth-option:not(:checked) + label:hover::before {
    opacity: 0.6;
}

.filter-bluetooth-option:checked:not(:disabled) + label:active::before {
    background-image: url("../img/radio-off.svg");
    opacity: 1;
}

.filter-bluetooth-option:not(:checked):not(:disabled) + label:active::before {
    background-image: url("../img/radio-on.svg");
    opacity: 1;
}

.filter-bluetooth-option:disabled + label::before,
.filter-bluetooth-option:disabled + label {
    opacity: 0.25;
}

.color-checkbox-option:checked:not(:disabled) + label:hover::before,
.color-checkbox-option:not(:checked) + label:hover::before {
    opacity: 0.6;
}

.color-checkbox-option:checked:not(:disabled) + label:active::before {
    background-image: url("../img/checkbox-off.svg");
    opacity: 1;
}

.color-checkbox-option:not(:checked):not(:disabled) + label:active::before {
    background-image: url("../img/checkbox-on.svg");
    opacity: 1;
}

.color-checkbox-option:disabled + label::before,
.color-checkbox-option:disabled + label {
    opacity: 0.25;
}

.color-checkbox-option:focus:not(:disabled) + label,
.filter-bluetooth-option:focus:not(:disabled) + label {
    outline: 3px solid rgba(240,197,46, 1);
}

.filter-form-submit {
    width: 100%;
}

.sorter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100%;

    margin: 0;
    padding: 10px 70px;
    padding-right: 0;

    background-color: rgba(0,0,0,0.08);
}

.sorter-title {
    margin-right: 16px;
}

.sorter-by-list,
.sort-by-order {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-by-list,
.sort-by-item-current,
.sort-by-item a {
    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.sort-by-item a {
    color: rgba(0,0,0,0.3);
}

.sort-by-item a:hover:not(.sort-by-item-current):not(:active) {
    color: rgba(0,0,0,0.6);
}

.sort-by-item a:active,
.sort-by-item .sort-by-item-current {
    color: rgba(0,0,0,1);
}

.sorter li {
    display: inline-block;
    vertical-align: baseline;
    font: inherit;
    font-size: 0;
}

.sort-by-list li {
    margin-right: 24px;
}

.sort-by-order li {
    margin-right: 10px;
}

.sort-by-list li:last-child,
.sort-by-order li:last-child {
    margin-right: 0;
}

.sort-by-order {
    margin: auto;
    margin-right: 0;
}

.sort-by-list a,
.sort-by-order a {
    font: inherit;
    font-size: 14px;
}

.sort-by-order a {
    width: 14px;
    height: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.sort-by-order-descending {
    background-image: url("../img/icon-down-dir.svg");
}

.sort-by-order-ascending {
    background-image: url("../img/icon-up-dir.svg");
}

.sort-by-order a:hover:not(.sort-by-order-current):not(:active) {
    opacity: 0.4;
}

.sort-by-order a:active,
.sort-by-order .sort-by-order-current {
    opacity: 1;
}

.catalog-list,
.pagination-list  {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog {
    width: 100%;
}

.catalog-list {
    padding: 65px 70px;
    padding-bottom: 35px;
    padding-right: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 360px;

    margin-right: 40px;
    margin-bottom: 50px;
}

.catalog-item:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.catalog-item h3 {
    max-width: 270px;

    margin: 0;
    margin-top: 10px;
    padding: 0;

    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-container {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    width: 100%;

    line-height: 0;

    -webkit-box-ordinal-group: 0;

        -ms-flex-order: -1;

            order: -1;
}

.catalog-item p {
    margin: 0;
    padding: 0;

    font: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.catalog-item-action {
    position: absolute;

    width: 360px;
    height: 380px;

    top: 0;
    left:0;

    background-color: rgba(238,238,238,0.7);

    cursor: pointer;
}

.catalog-item-image:not(:hover) ~ .catalog-item-action:not(:hover) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.add-to-cart {
    position: absolute;

    width: 200px;

    bottom: 183px;
    left: 80px;

    -webkit-box-shadow: none;

            box-shadow: none;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.compare {
    position: absolute;
    margin: 0;
    padding: 0;

    bottom: 134px;
    left: 109px;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);

    -webkit-box-shadow: none;

            box-shadow: none;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.compare:hover {
    color: rgba(0, 0, 0, 1);
}

.compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.mark-new::before {
    content:"New";
    position: absolute;

    right: 40px;
    top: 43px;

    font: inherit;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);
}

.mark-new::after {
    content:"";
    position: absolute;

    right: 26px;
    top: 24px;

    width: 60px;
    height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50%;
}

.pagination-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    height: 70px;

    margin: 0;
    margin-bottom: 72px;
    padding: 0;
    margin-left: 70px;

    background-color: rgba(0,0,0,0.08);
}

.pagination-list li {
    display: table;
    position: relative;
}


.pagination-list a {
    position: relative;
    display: table-cell;

    font: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: rgba(0,0,0,0.3);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    vertical-align: middle;

    z-index: 2;
}

.pagination-back a,
.pagination-forward a {
    padding: 0 30px;
}

.pagination-back a,
.pagination-forward a,
.pagination-current a {
    color: rgba(0,0,0,1);
}


.pagination-list li:not(:first-child) {
    margin-right: 26px;
}

.pagination-list li:first-child {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}

.pagination-list li:nth-last-of-type(-n+2) {
    margin-right: 0;
}

.pagination-list li:last-of-type {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
}

.pagination-list li:first-of-type::before,
.pagination-list li:last-of-type::before {
    display: none;

    content: "";
    position: absolute;

     width: 100%;
     height: 100%;

     top: 0;
     left: 0;

     background-color: rgba(0,0,0,0.08);
     z-index: 1;

}

.pagination-item:not(:first-child):not(:last-child):not(.pagination-current) a:hover:not(:active) {
    color: rgba(0,0,0,0.6);
}

.pagination-list a:active {
    color: rgba(0,0,0,1);
}

.pagination-list li:first-of-type:hover::before,
.pagination-list li:last-of-type:hover::before {
    display: block;
}

.pagination-back a:active,
.pagination-forward a:active {
    color: rgba(0,0,0,0.3);
}

/* Modals */

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }

    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }

    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }
}

@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }

    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }

    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

.modal {
    display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback {
    position: fixed;
    padding: 100px;
    width: 960px;
    height: 553px;

    top: 50px;
    left: 50%;
    margin-left: -480px;

    color: #000;

    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.feedback-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;

    width: 360px;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea {
    padding: 15px 20px;
    padding-right: 0;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: normal;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea {
    padding: 15px 20px;
    padding-right: 0;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: normal;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea {
    padding: 15px 20px;
    padding-right: 0;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: normal;
}

.feedback-form input::placeholder,
.feedback-form textarea {
    padding: 15px 20px;
    padding-right: 0;

    font: inherit;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: normal;
}

.feedback-form label {
    margin:0;
    margin-bottom: 5px;
    padding: 0;

    width: 100%;

    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.feedback-textarea+textarea,
.feedback-name+input,
.feedback-email+input {
    background-color: rgba(229,229,229,0.5);
    color: rgba(70,70,70,0.4);
    border: none;
}

.feedback-textarea+textarea:hover,
.feedback-name+input:hover,
.feedback-email+input:hover {
    background-color: rgba(229,229,229,1);
}

.feedback-textarea+textarea:focus,
.feedback-name+input:focus,
.feedback-email+input:focus {
    background-color: #fff;
    outline: 3px solid rgba(240,197,46,0.5);
}

.feedback-name+input:invalid,
.feedback-email+input:invalid {
    background-color: rgba(237,181,181,0.5);
}

.feedback-name+input {
    width: 100%;
    height: 50px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.feedback-email+input {
    margin: auto;
    margin-right: 0;

    width: 100%;
    height: 50px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.feedback-form p:last-of-type {
    margin-top: 35px;

    width: 100%;
}

.feedback-textarea+textarea {
    width: 100%;
    height: 156px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    outline: none;
    resize: none;
    overflow: auto;
}

.feedback-submit {
    margin-top: 40px;

    width: 200px;
}

.feedback-close,
.map-close {
    position: absolute;
    top:30px;
    right: 25px;

    width: 55px;
    height: 55px;

    font-size: 0;

    background-color: rgba(247,226,150,0.5);
    border: 0;
    border-radius: 50%;

    cursor: pointer;

    z-index: 3;
}

.feedback-close::before,
.feedback-close::after,
.map-close::before,
.map-close::after {
  content: "";

  position: absolute;
  right: 12px;
  top: 26px;

  width: 30px;
  height: 2px;

  background-color: #fff;
}

.feedback-close::before,
.map-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.feedback-close::after,
.map-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.feedback-close:hover,
.map-close:hover {
    background-color: rgba(247,226,150,1);
}

.feedback-close:active,
.map-close:active {
    background-color: rgba(247,226,150,0.3);
    outline: none;
}

.modal-map {
    position: fixed;

    top: 100px;
    left: 50%;
    margin-left: -480px;

    width: 960px;
    height: 559px;

    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.modal-map img {
    position: absolute;

    top: 0;
    left: 0;

    width: 994px;
    height: 593px;

    -o-object-fit: cover;

       object-fit: cover;
}

.modal-map p {
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
}

.header-user-navigation .logged-hide,
.header-user-navigation .unlogged-hide,
.footer-user-navigation .logged-hide,
.footer-user-navigation .unlogged-hide,
.popular-slide-hidden,
.services-slide-hidden {
    display: none;
}
